div {
    color: #ae8b0c;
    background-color: aquamarine;
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -5px;
    line-height: 30;
    text-align: right;
}

h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    font-weight: bold;
}

p {
    color: #ae8b0c;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 200px;
    width: 300px;
    height: 150px;
}

ul {
    margin: 100px;
    padding: 100px;
}

ol {
    margin: 15px;
    padding: 15px;
}


li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: 20px;
}

form {
    height:110px;
    width:1090px;
    margin:1000px;
    border:1px #CCC solid;
    padding:100px;
}
    
input, textarea {
    padding:50px;
    margin:500px
}